Q01 Not Quite Lisp/puzzle.txt
Q01 Not Quite Lisp/example.txt
Q02 I Was Told There Would Be No Math/example.txt
Q02 I Was Told There Would Be No Math/puzzle.txt
Q03 Perfectly Spherical Houses in a Vacuum/example.txt
Q03 Perfectly Spherical Houses in a Vacuum/puzzle.txt
Q04 The Ideal Stocking Stuffer/example.txt
Q04 The Ideal Stocking Stuffer/puzzle.txt
Q05 Doesn't He Have Intern-Elves For This/example.txt
Q05 Doesn't He Have Intern-Elves For This/puzzle.txt
